In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia: 


Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details: 

A) Rank 

B) Name 

C) Artist 

D) Upload date 

E) Views

In [269]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)

In [271]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

rank=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

name=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
artist=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
upload_Date=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in upload_Date:
    Upload_Date.append(i.text)
    
views=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
df=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,
                 "Upload_Date":Upload_Date,"Views":Views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.78
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.40
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.46
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.35
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.14
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.15
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.14
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.09
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.92
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.39
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.37
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.32
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.09
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.08
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.05
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.01
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.87
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.85
28,29.,"""Hello""[54]",Adele,"October 22, 2015",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.83

2. Scrape the details team India’s international fixtures from bcci.tv. 


Url = https://www.bcci.tv/. 

You need to find following details: 

A) Match title (I.e. 1st ODI) 

B) Series 

C) Place 

D) Date 

E) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [288]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(6)

from selenium.common.exceptions import ElementNotInteractableException

try:
    expand=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[1]/div")
    expand.click()
    
except ElementNotInteractableException as e:
    print("Exception Raised: ", e)


try:
    fixtures=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
    fixtures.click()
    
except ElementNotInteractableException as e:
    print("Exception Raised: ", e)

Exception Raised:  Message: element not interactable
  (Session info: chrome=91.0.4472.106)

Exception Raised:  Message: element not interactable
  (Session info: chrome=91.0.4472.106)

In [294]:
url="https://www.bcci.tv/international/fixtures"
driver.get(url)

#we need to open this flyer so that we can extract the data

flyer=driver.find_element_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a[2]/div[3]")
flyer.click()

Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

match_Title=driver.find_elements_by_xpath("/html/body/div[1]/div/header/div/div[1]/div/p")
for i in match_Title:
    Match_Title.append(i.text)

series=driver.find_elements_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[1]/span[2]")
for i in series:
    Series.append(i.text)
    
place=driver.find_elements_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[3]/span[2]")
for i in place:
    Place.append(i.text)
    
date=driver.find_elements_by_xpath("/html/body/div[1]/div/header/div/div[2]/div/div[4]/strong")
for i in date:
    Date.append(i.text)
    
time=driver.find_elements_by_xpath("/html/body/div[1]/div/header/div/div[2]/div/div[4]/span[1]")
for i in time:
    Time.append(i.text)
    
df=pd.DataFrame({"Match_Title":Match_Title,"Series":Series,"Place":Place,
                 "Date":Date,"Time":Time})
df

,Match_Title,Series,Place,Date,Time
0,1ST ODI - SRI LANKA V INDIA 2021 VIEW SERIES,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Tuesday 13 July,14:30 IST

3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [6]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the homepage of guru99.com
url = "https://www.guru99.com/"
driver.get(url)

selenium_option = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a')
selenium_option.click()  

selenium_Tutorial = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]')
selenium_Tutorial.click()

In [9]:
Name=[]
Description=[]

name=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
description=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")
for i in description:
    Description.append(i.text)
    
df=pd.DataFrame({"Name":Name,"Description":Description})
df

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [119]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(6)

In [123]:
Economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
Economy.click()

In [121]:
try:
    India_dropdown=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
    
except ElementNotInteractableException as e:
    print("Exception Raised: ", e)

In [125]:
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [127]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

rank=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

state=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
gsdp1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in gsdp1:
    GSDP1.append(i.text)
    
gsdp2=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in gsdp2:
    GSDP2.append(i.text)
    
share=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
    
gdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)
    
df=pd.DataFrame({"Rank":Rank,"State":State,"GSDP at current price (19-20)":GSDP1
                ,"GSDP at current price (18-19)":GSDP2,"Share(18-19)":Share,"GDP($ billion)":GDP})
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [81]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the homepage of guru99.com
url = "https://github.com/"
driver.get(url)
time.sleep(5)

Explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
Explore.click()

Trending_Section = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
Trending_Section.click()

In [87]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

repository_title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in repository_title:
    if i.text is None:
        Repository_title.append("-")
    else:
        Repository_title.append(i.text)
    
repository_description=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append("-")
    else:
        Repository_description.append(i.text)

contributors_count=driver.find_elements_by_xpath("//span[@class='d-inline-block float-sm-right']")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append("-")
    else:
        Contributors_count.append(i.text)
 
language_used=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in language_used:
    if i.text is None:
        Language_used.append("-")
    else:
        Language_used.append(i.text)

df=pd.DataFrame({"Repository_title":Repository_title[:23],"Repository_description":Repository_description[:23],"Contributors_count":Contributors_count[:23],
                 "Language_used":Language_used[:23]})
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,249 stars today,Python
1,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,694 stars today,Jupyter Notebook
2,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,27 stars today,Java
3,n8n-io / n8n,Free and open fair-code licensed node based Wo...,379 stars today,TypeScript
4,facebookresearch / AugLy,"A data augmentations library for audio, image,...",662 stars today,Python
5,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,606 stars today,Assembly
6,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,60 stars today,Dart
7,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,424 stars today,Python
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",279 stars today,C++
9,rustdesk / rustdesk,Yet another remote desktop software,223 stars today,Rust
10,algorithm-visualizer / algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,35 stars today,JavaScript
11,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,206 stars today,Go
12,megaease / easegress,A Cloud Native traffic orchestration system,332 stars today,HTML
13,TheBobPony / getwindows11.tech,For the website,22 stars today,Python
14,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,130 stars today,Python
15,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,346 stars today,Python
16,programthink / opensource,【编程随想】收藏的开源项目清单,15 stars today,Batchfile
17,facebookresearch / xcit,Official code Cross-Covariance Image Transform...,145 stars today,JavaScript
18,githubdev03 / RDP,A utility-first CSS framework for rapid UI dev...,8 stars today,Jupyter Notebook
19,tailwindlabs / tailwindcss,🐸💬 - a deep learning toolkit for Text-to-Speec...,293 stars today,Go
20,coqui-ai / TTS,A platform for building proxies to bypass netw...,33 stars today,C
21,v2fly / v2ray-core,stb single-file public domain libraries for C/C++,45 stars today,C++
22,nothings / stb,"cross-platform (Qt), open-source (GPLv3) video...",22 stars today,Dart

6. Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/ 
    
You have to find the following details:
    
A) Song name 

B) Artist name

C) Last week rank

D) Peak rank 

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [210]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(5)

from selenium.common.exceptions import ElementNotInteractableException
try:
    hot_100_column=driver.find_element_by_xpath("//a[@class='header__submenu__list__link']")
    hot_100_column.click()
except ElementNotInteractableException as e:
    print("Exception Raised: ", e)

Exception Raised:  Message: element not interactable
  (Session info: chrome=91.0.4472.106)

In [226]:
url="https://www.billboard.com/charts/hot-100"
driver.get(url)

Song_Name=[]
Artist_Name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

song_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song_name:
    Song_Name.append(i.text)

artist_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist_name:
    Artist_Name.append(i.text)
        
last_week_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week_rank:
    Last_week_rank.append(i.text)
    
peak_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_rank:
    Peak_rank.append(i.text)
    
weeks_on_board=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks_on_board:
    Weeks_on_board.append(i.text)
    
df=pd.DataFrame({"Song_Name":Song_Name,"Artist_Name":Artist_Name,"Last_week_rank":Last_week_rank,
                 "Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})
df

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [99]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the homepage of naukri.com
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(5)

Recruiter_option = driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div')
Recruiter_option.click()

try:
    search_bar=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")
except NoSuchElementException as e:
    print("Exception Raised: ", e)

Exception Raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id='skill']/div[1]/div[2]/input"}
  (Session info: chrome=91.0.4472.106)

In [100]:
# As the element is not interactable i have searched keywords:- Data Science

In [107]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]


name=driver.find_elements_by_xpath("//span[@class='ellipsis']")
for i in name:
        Name.append(i.text)
        

Designations=driver.find_elements_by_xpath("//span[@id='ellipsis clr]")
for i in Designations:
        Designation.append(i.text)
        

for i in driver.find_elements_by_xpath('//a[@class="ellipsis"]'):
    Company.append(i.get_attribute("href"))
        
    
Skill_they_hire_for=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in Skill_they_hire_for:
        Skills_they_hire_for.append(i.text)
        
        
location=driver.find_elements_by_xpath("//small[@class='ellipsis']/span")
for i in location:
        Location.append(i.text)
        
        
df=pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,
                 "Skills_they_hire_for":Skills_they_hire_for,"Location":Location})
df

NoSuchWindowException: Message: no such window: window was already closed
  (Session info: chrome=91.0.4472.106)

8. Scrape the details of Highest selling novels. 

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey compare/ 
    
You have to find the following details: 
    
A) Book name 

B) Author name 

C) Volumes sold

D) Publisher

E) Genre

In [268]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)

Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

book_name=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[2]")
for i in book_name:
        Book_name.append(i.text)
       
author_name=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[3]")
for i in author_name:
        Author_name.append(i.text)

volumes_sold=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[4]")
for i in volumes_sold:
        Volumes_sold.append(i.text)
        
publisher=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[5]")
for i in publisher:
        Publisher.append(i.text)
        
genre=driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[6]")
for i in genre:
        Genre.append(i.text)
        
df=pd.DataFrame({"Book_name":Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,
                 "Publisher":Publisher,"Genre":Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [272]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(6)

In [178]:
# creating empty lists for scraping data
Name=[]
Year_span=[]
Genre=[]
Run_Time=[]
Ratings=[]
Votes=[]

name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
for i in name:
    Name.append(i.text)

year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year_span:
    Year_span.append(i.text)
        
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
run_Time=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_Time:
    Run_Time.append(i.text)
    
ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in ratings:
    Ratings.append(i.text)
 
for i in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span'):
    Votes.append(i.get_attribute("data-value"))
    
df=pd.DataFrame({"Name":Name[:1],"Year_span":Year_span[:1],"Genre":Genre[:1],
                 "Run_Time":Run_Time[:1],"Ratings":Ratings[:1]})
df

,Name,Year_span,Genre,Run_Time,Ratings
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.3

In [179]:
Votes

[None,
 None,
 None,
 None,
 None,
 None,
 '1823823',
 None,
 None,
 None,
 None,
 None,
 None,
 '864197',
 None,
 None,
 None,
 None,
 None,
 None,
 '874664',
 None,
 None,
 None,
 None,
 None,
 None,
 '262742',
 None,
 None,
 None,
 None,
 None,
 None,
 '224104',
 None,
 None,
 None,
 None,
 None,
 None,
 '282692',
 None,
 None,
 None,
 None,
 None,
 None,
 '125080',
 None,
 None,
 None,
 None,
 None,
 None,
 '261299',
 None,
 None,
 None,
 None,
 None,
 None,
 '314495',
 None,
 None,
 None,
 None,
 None,
 None,
 '412368',
 None,
 None,
 None,
 None,
 None,
 None,
 '331320',
 None,
 None,
 None,
 None,
 None,
 None,
 '737381',
 None,
 None,
 None,
 None,
 None,
 None,
 '462543',
 None,
 None,
 None,
 None,
 None,
 None,
 '830267',
 None,
 None,
 None,
 None,
 None,
 None,
 '451608',
 None,
 None,
 None,
 None,
 None,
 None,
 '154724',
 None,
 None,
 None,
 None,
 None,
 None,
 '290465',
 None,
 None,
 None,
 None,
 None,
 None,
 '282543',
 None,
 None,
 None,
 None,
 None,
 None,
 '1526753',
 None,
 None,
 None,
 None,
 None,
 None,
 '252703',
 None,
 None,
 None,
 None,
 None,
 None,
 '399944',
 None,
 None,
 None,
 None,
 None,
 None,
 '487693',
 None,
 None,
 None,
 None,
 None,
 None,
 '134272',
 None,
 None,
 None,
 None,
 None,
 None,
 '131091',
 None,
 None,
 None,
 None,
 None,
 None,
 '372475',
 None,
 None,
 None,
 None,
 None,
 None,
 '211247',
 None,
 None,
 None,
 None,
 None,
 None,
 '370753',
 None,
 None,
 None,
 None,
 None,
 None,
 '371039',
 None,
 None,
 None,
 None,
 None,
 None,
 '864126',
 None,
 None,
 None,
 None,
 None,
 None,
 '618066',
 None,
 None,
 None,
 None,
 None,
 None,
 '371315',
 None,
 None,
 None,
 None,
 None,
 None,
 '342221',
 None,
 None,
 None,
 None,
 None,
 None,
 '121121',
 None,
 None,
 None,
 None,
 None,
 None,
 '114299',
 None,
 None,
 None,
 None,
 None,
 None,
 '157709',
 None,
 None,
 None,
 None,
 None,
 None,
 '142791',
 None,
 None,
 None,
 None,
 None,
 None,
 '214910',
 None,
 None,
 None,
 None,
 None,
 None,
 '439798',
 None,
 None,
 None,
 None,
 None,
 None,
 '196395',
 None,
 None,
 None,
 None,
 None,
 None,
 '371060',
 None,
 None,
 None,
 None,
 None,
 None,
 '395207',
 None,
 None,
 None,
 None,
 None,
 None,
 '55397',
 None,
 None,
 None,
 None,
 None,
 None,
 '154349',
 None,
 None,
 None,
 None,
 None,
 None,
 '473711',
 None,
 None,
 None,
 None,
 None,
 None,
 '305285',
 None,
 None,
 None,
 None,
 None,
 None,
 '53754',
 None,
 None,
 None,
 None,
 None,
 None,
 '171298',
 None,
 None,
 None,
 None,
 None,
 None,
 '211055',
 None,
 None,
 None,
 None,
 None,
 None,
 '198007',
 None,
 None,
 None,
 None,
 None,
 None,
 '203574',
 None,
 None,
 None,
 None,
 None,
 None,
 '153709',
 None,
 None,
 None,
 None,
 None,
 None,
 '658454',
 None,
 None,
 None,
 None,
 None,
 None,
 '116455',
 None,
 None,
 None,
 None,
 None,
 None,
 '310103',
 None,
 None,
 None,
 None,
 None,
 None,
 '207720',
 None,
 None,
 None,
 None,
 None,
 None,
 '507142',
 None,
 None,
 None,
 None,
 None,
 None,
 '380302',
 None,
 None,
 None,
 None,
 None,
 None,
 '422565',
 None,
 None,
 None,
 None,
 None,
 None,
 '57851',
 None,
 None,
 None,
 None,
 None,
 None,
 '103444',
 None,
 None,
 None,
 None,
 None,
 None,
 '320220',
 None,
 None,
 None,
 None,
 None,
 None,
 '67625',
 None,
 None,
 None,
 None,
 None,
 None,
 '94450',
 None,
 None,
 None,
 None,
 None,
 None,
 '186796',
 None,
 None,
 None,
 None,
 None,
 None,
 '81258',
 None,
 None,
 None,
 None,
 None,
 None,
 '67647',
 None,
 None,
 None,
 None,
 None,
 None,
 '40661',
 None,
 None,
 None,
 None,
 None,
 None,
 '138833',
 None,
 None,
 None,
 None,
 None,
 None,
 '337406',
 None,
 None,
 None,
 None,
 None,
 None,
 '242381',
 None,
 None,
 None,
 None,
 None,
 None,
 '102148',
 None,
 None,
 None,
 None,
 None,
 None,
 '170917',
 None,
 None,
 None,
 None,
 None,
 None,
 '510751',
 None,
 None,
 None,
 None,
 None,
 None,
 '93575',
 None,
 None,
 None,
 None,
 None,
 None,
 '118575',
 None,
 None,
 None,
 None,
 None,
 None,
 '341167',
 None,
 None,
 None,
 None,
 None,
 None,
 '99196',
 None,
 None,
 None,
 None,
 None,
 None,
 '191532',
 None,
 None,
 None,
 None,
 None,
 None,
 '64325',
 None,
 None,
 None,
 None,
 None,
 None,
 '16116',
 None,
 None,
 None,
 None,
 None,
 None,
 '114492',
 None,
 None,
 None,
 None,
 None,
 None,
 '123872',
 None,
 None,
 None,
 None,
 None,
 None,
 '117499',
 None,
 None,
 None,
 None,
 None,
 None,
 '32304',
 None,
 None,
 None,
 None,
 None,
 None,
 '230375',
 None,
 None,
 None,
 None,
 None,
 None,
 '114135',
 None,
 None,
 None,
 None,
 None,
 None,
 '119100',
 None,
 None,
 None,
 None,
 None,
 None,
 '68221',
 None,
 None,
 None,
 None,
 None,
 None,
 '93427',
 None,
 None,
 None,
 None,
 None,
 None,
 '164783',
 None,
 None,
 None,
 None,
 None,
 None,
 '23634',
 None,
 None,
 None,
 None,
 None,
 None,
 '168762',
 None,
 None,
 None,
 None,
 None,
 None,
 '166169',
 None,
 None,
 None,
 None,
 None,
 None,
 '582058',
 None,
 None,
 None,
 None,
 None,
 None,
 '61612',
 None,
 None,
 None,
 None,
 None,
 None,
 '44586',
 None,
 None,
 None,
 None,
 None,
 None,
 '55086',
 None,
 None,
 None,
 None,
 None,
 None,
 '167814',
 None,
 None,
 None,
 None,
 None,
 None,
 '34896',
 None,
 None,
 None,
 None,
 None,
 None,
 '191504']

In [184]:
df_votes=pd.DataFrame({'Votes':Votes})
df_votes

      Votes
0      None
1      None
2      None
3      None
4      None
..      ...
695    None
696    None
697    None
698    None
699  191504

[700 rows x 1 columns]

In [185]:
#We have some null values, we will remove them using .dropna method
df_Votes=df_votes.dropna()
df_Votes

       Votes
6    1823823
13    864197
20    874664
27    262742
34    224104
..       ...
671    44586
678    55086
685   167814
692    34896
699   191504

[100 rows x 1 columns]

In [188]:
df_Votes.reset_index(inplace=True)
df_Votes

    index    Votes
0       6  1823823
1      13   864197
2      20   874664
3      27   262742
4      34   224104
..    ...      ...
95    671    44586
96    678    55086
97    685   167814
98    692    34896
99    699   191504

[100 rows x 2 columns]

In [190]:
df_votes=df_Votes.drop(["index"],axis=1)
df_votes

      Votes
0   1823823
1    864197
2    874664
3    262742
4    224104
..      ...
95    44586
96    55086
97   167814
98    34896
99   191504

[100 rows x 1 columns]

In [191]:
Most_Watched_show=pd.concat([df,df_votes[:1]],axis=1)

In [192]:
Most_Watched_show

,Name,Year_span,Genre,Run_Time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.3,1823823

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [129]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)

In [132]:
element = driver.find_element_by_link_text("View ALL Data Sets")
element.click()

In [134]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [161]:
name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name:
    Dataset_name.append(i.text)

In [162]:
df=pd.DataFrame({"Dataset_name":Dataset_name})
df

                        Dataset_name
0                               Name
1                            Abalone
2                            Abalone
3                      Multivariate
4                    Classification
...                              ...
2951       Wikipedia Math Essentials
2952       Wikipedia Math Essentials
2953    Synchronous Machine Data Set
2954                              8
2955                         Abalone

[2956 rows x 1 columns]

In [ ]:
/html/body/table[2]/tbody/tr/td[1]